@model _Items[]


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/lib/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/smoothproducts.css">
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <h4 class="text-center">@TempData["Username"]'s Favorites</h4>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">

                    <div class="card-body">
                        <h4 class="card-title">Filter by:</h4>
                        <a asp-controller="Favorites" asp-action="PriceFilter" type="button">Price</a><br /><br />
                        <a asp-action="NameFilter" type="button">Name</a><br /><br />
                        <a asp-action="HAFilter" type="button">High Alch</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <table class="table table-bordered border-dark">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">GE Price</th>
                            <th scope="col">Value</th>
                            <th scope="col">High Alch</th>
                            <th scope="col">Low Alch</th>
                            <th scope="col">Wiki Link</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.wiki_name</td>
                            <td>@item.price GP</td>
                            <td>@item.cost.ToString("N0") GP</td>
                            <td>@item.highalch.ToString("N0") GP</td>
                            <td>@item.lowalch.ToString("N0") GP</td>
                            <td><a class="btn btn-outline-primary" href="@item.wiki_url">Wiki</a></td>
                            <td><a class="btn btn-primary text-white" href="/Items/SingleItem?Name=@item.name">View GE Data</a></td>
                            <td>
                                <form asp-action="RemoveItem" method="post">
                                    <input type="hidden" name="id" value="@item.id" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center"><a class="btn btn-primary text-white justify-content-center" href="/home/stocks">Back to Categories</a></div>
</body>
</html>