@model _Items[]


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeaponCategories</title>
    <link rel="stylesheet" href="~/lib/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/lib/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/Article-List.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="~/lib/assets/css/smoothproducts.css">
</head>
<body>
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">

                    <div class="card-body">
                        <h4 class="card-title">Filter by:</h4>
                        <a href="" type="button">Price</a><br /><br />
                        <a href="" type="button">Name</a><br /><br />
                        <a href="" type="button">High Alch</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">High Alch</th>
                            <th scope="col">Low Alch</th>
                            <th scope="col">Wiki Link</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.wiki_name</td>
                                <td>@item.cost</td>
                                <td>@item.highalch</td>
                                <td>@item.lowalch</td>
                                <td><a class="btn btn-outline-primary" href="@item.wiki_url">Wiki</a></td>
                                <td><a class="btn btn-primary text-white" href="/Items/SingleItem?Name=@item.wiki_name">View More</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="text-center"><a class="btn btn-primary text-white justify-content-center" href="/home/stocks">Back to Categories</a></div>


</body>
</html>