@model _Items[]


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeaponCategories</title>
</head>
<body>
    <br /><br /><br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">High Alch</th>
                <th scope="col">Low Alch</th>
                <th scope="col">Wiki Link</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var logs in Model)
            {
                <tr>
                    <td>@logs.wiki_name</td>
                    <td>@logs.cost gp</td>
                    <td>@logs.highalch gp</td>
                    <td>@logs.lowalch gp</td>
                    <td><a class="btn btn-outline-primary" href="@logs.wiki_url">Wiki</a></td>
                    <td><a class="btn btn-primary">View More</a></td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>